@using Peon.Web.Models
@model DerivedThing

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DerivedThing</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Group)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Additional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Additional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sub)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sub)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DerivedProp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DerivedProp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Children)
        </dt>

        <dd>
            <table class="table">
                @foreach (ChildThing item in Model.Children)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.C)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "ChildThing", new { id = item.ID }, null) |
                            @Html.ActionLink("Details", "Details", "ChildThing", new { id = item.ID }, null) |
                            @Html.ActionLink("Delete", "Delete", "ChildThing", new { id = item.ID }, null)
                        </td>
                    </tr>
                }

            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
