@model Peon.Web.Models.ChildThing

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ChildThing</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Thing.Name)
        </dt>

        <dd>
            @Html.ActionLink(Model.Thing.Name, "Details", "TestThing", new { id = Model.ThingID }, null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
